{{!< default}}

<!-- Title Section -->
<section class="section-thin-xs section-theme section-large" {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}})"{{/if}} id="title">
	<div class="container-large">
		<div class="row">
			<header class="section-edgeless">{{navigation}}</header>
			{{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{t "Logo"}}" style="height:72px">
			{{else}}<h1>{{@blog.title}}</h1>{{/if}}		
			<p>{{@blog.description}}</p>
		</div>
	</div>
</section>

<!-- Post Section -->
<section class="section-thin-xs section-light dark-enabled" id="posts">
	<div class="container-large">
  			{{> "loop" }}
	</div>
</section>
